
.container {
    width: 768px;
    height:1024px;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
}




.image {
  
    height: 768px;
    width:1024px;
    
}

#start {
   background-color: red;
    color: white;
    font-family: "abadi-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:35px;
    position: relative;
    top: -600px;
    left: 670px;
    z-index: 9999;
    
}
.info {
   height: 300px;
    width: 600px;
    background-color: blue;
    color: white;
    text-align: center;
    position: relative;
    top: -900px;
    left: 425px;
    
    
    
    
}

.info h1 {
    font-family: "abadi-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:40px;
    
    
    
}

.info h2{
    font-family: "abadi-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:30px;
    
    
}