.body {
    font-style: normal;
    color: white;
    
    
}

body {
    font-family: "abadi-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:white;
    
}
.container {
    width: 768px;
    height:1024px;
    margin-left: auto;
    margin-right: auto;
}


.visible {
    visibility: visible !important;
}
button {
    background-color:pink;
    color:yellow;
    font-family:"neusa-next-std-compact",sans-serif;
    font-size:22px;
    font-weight:700;
}

.green-button {
    background-color:green;
    color: blue;
}

.header {
    position: relative;
    top: -925px;
    
}
.title {
    position: absolute;
    top:0px;
    left: 500px;
    
}
.title h1 {
    font-size:50px;
    font-weight: 700;
    font-family: abadi-condensed, sans-serif;
    font-style: normal;
    color: red;
    text-align: center;
    
}
#cloudbutton {
    position: absolute;
    top: 0px;
    z-index: 999;
}
.cloudbox {
    height: 150px;
    width: 150px;
    left: 50px;
    margin-left: 100px;
}

#mycloud {
    height: 100px;
    width: 100px;
    background-color: purple;
    color:white;
    visibility: hidden;
    z-index: 999;

    
}

#sunbutton {
  position: absolute;
    top: 0px;
    z-index: 999;
    
}


#mysun {
    height: 100px;
    width:100px;
    background-color: purple;
    color: white;
    position: relative;
    left: 0px;
    bottom: 0px;
    visibility: hidden;
    z-index: 999;
    
}
.sunbox {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 570px;
    bottom: -37px;
    
   }

.wavebox {
    height: 150px;
    width: 150px;
    position: relative;
    left: 300px;
    top: -650px;
}
#mywave {
    height: 100px;
    width: 100px;
    background-color: purple;
    color: white;
    position: absolute;
    left: 0px;
    top: 65px;
    visibility: hidden;
    z-index: 999;
    
}

#wavebutton {
    position:absolute;
    left: 0px;
    z-index: 999;
    
}


#myplant {
    height: 100px;
    width: 100px;
    background-color: purple;
    color: white;
    position: absolute;
    visibility: hidden;
    top: 70px;
    z-index: 999;
   
}

#plantbutton {
    position: absolute;
    z-index: 999;
    
    
}
.plantbox {
    height: 200px;
    width: 200px;
    position: relative;
    top:-480px;
    left: 50px;
}


#mycastle {
    height: 100px;
    width: 100px;
    background-color: purple;
    color: white;
    position: absolute;
    visibility: hidden;
    z-index: 999;
}

   
.castlebutton {
    position: absolute;
    z-index: 999;
}

.castlebox {
    height: 200px;
    width: 200px;
    position: relative;
    left: 440px;
    top: -810px;

    
}
#myrock {
    height:100px;
    width: 100px;
    background-color: purple;
    color: white;
    position: absolute;
    visibility: hidden;
    top:90px;
    left:0px;
    z-index: 999;
}
.rockbutton {
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 999;
}
.rockbox {
    height:200px;
    width:168px;
    position: relative;
    left:600px;
    top:-920px;
}

.background {
  background-position: center;
    background-attachment: fixed;
    z-index: -999;
}
