

.body {
    font-family: "abadi-condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    color:white;
    
}
.container {
    width: 768px;
    height:1024px;
    margin-left: auto;
    margin-right: auto;
}


.visible {
    visibility: visible !important;
}
button {
    background-color:red;
    color:white;
   font-family: "abadi-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:22px;
}

.green-button {
    background-color:green;
    color: blue;
}

.header {
    position: relative;
    top: -925px;
    height: 300px;
    width: 768px;
    
}
.title {
    position: absolute;
    top:0px;
    left: 500px;
    
}
.title h1 {
    font-size:50px;
    font-weight: 800;
    font-family: "abadi-condensed", sans-serif;
    font-style: normal;
    color: red;
    text-align: center;
}
#cloudbutton {
    position: absolute;
    top: 15px;
    left: 80px;
    z-index: 999;
}
.cloudbox {
    height: 150px;
    width: 150px;
    left: 50px;
    margin-left: 100px;
}

#mycloud {
    height: 420;
    width: 210px;
    left: -30px;
    top: 50px;;
    background-color: purple;
    color:white;
    visibility: hidden;
    z-index: 999;
    position: relative;
    
}


#mycloud h2 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
}



#mycloud h3{
    font-family: "abadi-condensed", sans-serif;
    font-size: 12px;
    font-weight: 200;
    
    
}
#sunbutton {
  position: absolute;
    top: -23px;
    z-index: 999;
    
}


#mysun {
    height: 420px;
    width:210px;
    background-color: purple;
    color: white;
    position: relative;
    left: -30px;
    bottom: 0px;
    visibility: hidden;
    z-index: 999;
    
    
}
#mysun h2 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
}
#mysun h3 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.sunbox {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 583px;
    bottom: 108px;
    
   }

.wavebox {
    height: 150px;
    width: 150px;
    position: relative;
    left: 300px;
    top: -850px;
}
#mywave {
    height: 400;
    width: 210px;
    background-color: purple;
    color: white;
    position: absolute;
    left: 90px;
    top: -23px;
    visibility: hidden;
    z-index: 999;
    
}

#mywave h2 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#mywave h3 {
   font-family: "abadi-condensed", sans-serif;
    font-size: 12px;
    font-weight: 200;
} 
}
#wavebutton {
    position:absolute;
    left: 0px;
    top: -53px;
    z-index: 999;
    
}


#myplant {
    height: 420px;
    width: 210px;
    background-color: purple;
    color: white;
    position: absolute;
    visibility: hidden;
    top: -215px;
    left:175px;
    z-index: 999;
   
}
#myplant h2 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 19px;
    font-weight: 300;
    
}
#myplant h3 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 12px;
    font-weight: 200;
}
#plantbutton {
    position: absolute;
    z-index: 999;
    top: -100px;
    
    
}
.plantbox {
    height: 200px;
    width: 200px;
    position: relative;
    top:-680px;
    left: 50px;
}


#mycastle {
    height: 420px;
    width: 210px;
   right: 200px;
    bottom: -116px;
    background-color: purple;
    color: white;
    position: absolute;
    visibility: hidden;
    z-index: 999;
}

   
.castlebutton {
    position: absolute;
    z-index: 999;
    top: -900px;
}

.castlebox {
    height: 200px;
    width: 200px;
    position: relative;
    left: 463px;
    top: -991px;

    
}

#mycastle h2 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
}


#mycastle h3 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 12px;
    font-weight: 200;
}
#myrock {
    height:420px;
    width: 210px;
    background-color: purple;
    color: white;
    position: absolute;
    visibility: hidden;
    top:-350px;
    left:-250px;
    z-index: 10;
}
#rockbutton {
    position: absolute;
    top: -300px;
    left:0px;
    z-index: 999;
}
.rockbox {
    height:200px;
    width:168px;
    position: relative;
    left:675px;
    top:-892px;
}
#myrock h2 {
   font-family: "abadi-condensed", sans-serif;
    font-size: 20px;
    font-weight: 300; 
}

#myrock h3 {
    font-family: "abadi-condensed", sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.background {
  background-position: center;
    background-attachment: fixed;
    z-index: -999;
}
