* {
    margin:0px;
    font-weight: 200;
    
}





body {
    font-style:normal;
    color: black;
    margin-left:auto;
    margin-right: auto;
    font-family: "neusa-next-std-compact",sans-serif;
    font-style: normal;
    font-weight: 200;
    
    
    }
    

.header {
    background-color: antiquewhite;
    height:600px;
    margin-top:97px;
    margin-left:200px;
    ;
    
}
.header h1 {
    margin-left:295px;
    justify-content: flex-end;
    align-content: center;
    
}

.cloudbox {
    background-color: lightcyan;
    justify-content: flex-start;
    height: 250px;
    width: 250px;

}
#mycloud {
    height: 300px;
    width: 200px;
    background-color: purple;
    color:white;
    
}

.sunbutton {
    position: absolute;
    left: 1930px;
    top: 325px;
    
}


#mysun {
    height: 300px;
    width:200px;
    background-color: purple;
    color: white;
    position: relative;
    left: 1600px;
    bottom: 200px;
    
}

.sunbox {
    background-color: yellow;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 300px;
    width:400px;
    justify-content: space-between;
    position: relative;
    left: 600px;
    bottom: 200px;
    
   }




#mywave {
    height: 300px;
    width: 200px;
    background-color: purple;
    color: white;
    position: relative;
    left: 600px;
    bottom: 500px;
    
} 
.wavebutton {
    position:relative;
    bottom:500px;
    left: 600px;
    
    
}
    
.waveflex {
    align-content: center;
    background-color: blue;
    height:600px;
    margin-left: 200px;

}

.sandflex {
    background-color: beige;
    height:2000px;
    margin-left: 200px;
    position:relative;

}

#myplant {
    height: 300px;
    width: 200px;
    background-color: purple;
    color: white;
    position: relative;
    top: -395px;
   
}
.plantsbox {
    background-color: green;
    height: 400px;
    width: 300px;
    position: relative;
    top:-30px;
}

.plantbutton {
    position: relative;
    bottom: 400px;
    left: 100px;
    
    
}

#mytowel {
    height:300px;
    width: 200px;
    background-color: purple;
    color: white;
    position: relative;
    top:-1120px;
    left: 400px
}

.towelbutton{
    margin-left: 200px;
    position: relative;
    bottom: 500px;
    top: -1125px;
    left: 300px;
}
.towelbox {
    background-color: red;
    height:400px;
    width: 300px;
    margin-left: 200px;
    margin-top:0px;
    position: relative;
    left: 200px;
    bottom: 750px;
   
}

#mycastle {
    height:300px;
    width: 200px;
    background-color: purple;
    color: white;
    position: relative;
    top: 400px;
    left:1200px;
}

.castlebutton {
   margin-left: 200px;
    position: relative;
    bottom: 500px;
    top: -850px;
    left: 1200px; 
}
.castlebox {
    background-color: pink;
    margin-left:200px;
   height: 400px;
    width: 300px;
    position: relative;
    left: 700px;
    bottom: 400px;
}


.rockbox {
    background-color: saddlebrown;
    height:400px;
    width:300px;
    margin-left: 200px;
    position: relative;
    left: 739px;
    top: -1030px;
    
}
#myrock {
    height:300px;
    width: 200px;
    background-color: purple;
    color: white;
    position: relative;
    top:-1300px;
    left:750px;
}
.rockbutton {
    margin-left: 200px;
    position: relative;
    bottom: 500px;
    top: -1300px;
    left: 800px;
}